.container-fluid {
    background-color: #2c688b;
    font-family:'Open Sans', sans-serif;
    color: #fff;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.marco{
    overflow: hidden;
    display: inline-block;
    height: 215px;
    border-radius: 100%;
    position:relative;
    top: 70px;
    left: 100px;
    border: 5px solid #2c688b;
}

.marco img {
    height: 350px;
    width: 200px;
    position:relative;
    bottom: 80px;
}


.imagen-fondo img {
    height: 400px;
    width: 400px;
    position: absolute;
    top: -170px;
    left: -50px;
    transform: rotate(90deg);
}

h2,h3 {
    color: #2c688b;
}

nav {
    text-align: center;
    margin: 20px;
    
}

section {
    margin: 0px 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }
     
article {
    padding: 10px;
}