.container-fluid {
    background-color: #2c688b;
    font-family:'Open Sans', sans-serif;
    color: #fff;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.marco{
    overflow: hidden;
    display: inline-block;
    height: 200px;
    border-radius: 100%;
    position:relative;
    top: 85px;
    border: 5px solid #2c688b;
}

.marco img {
    height: 350px;
    width: 200px;
    position:relative;
    bottom: 80px;
}


.imagen-fondo img {
    height: 400px;
    width: 400px;
    position: absolute;
    top: -170px;
    left: -50px;
    transform: rotate(90deg);
}